# Agregación de datos por categoría

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender = ['Male', 'Female']
income = ['Poor', 'Middle Class', 'Rich']

In [3]:
n = 500

gender_data = []
income_data = []

for i in range(0, 500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [5]:
gender_data[1:10]

['Male',
 'Female',
 'Female',
 'Male',
 'Female',
 'Female',
 'Female',
 'Female',
 'Male']

In [6]:
income_data[1:10]

['Poor',
 'Rich',
 'Rich',
 'Rich',
 'Rich',
 'Middle Class',
 'Rich',
 'Rich',
 'Rich']

In [7]:
# N(m, s) -> m + s * z
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [8]:
data = pd.DataFrame(
    {
        'Gender': gender_data,
        'Economic Status': income_data,
        'Height': height,
        'Weight': weight,
        'Age': age,
        'Income': income
    }
)

In [9]:
data.head()

   Gender Economic Status      Height      Weight        Age        Income
0    Male            Rich  130.954657   82.030005  49.172911  18306.163564
1    Male            Poor  145.821054   73.047929  44.957608  14460.294757
2  Female            Rich  185.385028  103.898766   8.140874  19429.702651
3  Female            Rich  149.525801   80.887183  32.035615  16517.832869
4    Male            Rich  174.184762   70.564623  29.118485  17498.399980

## Agrupación de datos

In [11]:
grouped_gender = data.groupby('Gender')

In [12]:
grouped_gender.groups

{'Female': [2, 3, 5, 6, 7, 8, 11, 12, 15, 17, 18, 19, 20, 22, 28, 29, 30, 32, 33, 37, 38, 39, 43, 49, 54, 56, 57, 59, 60, 62, 65, 66, 68, 70, 74, 75, 78, 79, 81, 84, 85, 87, 88, 90, 91, 95, 96, 98, 100, 104, 106, 108, 110, 111, 112, 113, 114, 116, 117, 118, 119, 120, 121, 122, 124, 125, 127, 128, 129, 134, 135, 138, 140, 143, 144, 146, 147, 148, 150, 151, 154, 158, 159, 161, 163, 165, 167, 168, 169, 173, 174, 176, 178, 184, 185, 186, 187, 190, 192, 193, ...], 'Male': [0, 1, 4, 9, 10, 13, 14, 16, 21, 23, 24, 25, 26, 27, 31, 34, 35, 36, 40, 41, 42, 44, 45, 46, 47, 48, 50, 51, 52, 53, 55, 58, 61, 63, 64, 67, 69, 71, 72, 73, 76, 77, 80, 82, 83, 86, 89, 92, 93, 94, 97, 99, 101, 102, 103, 105, 107, 109, 115, 123, 126, 130, 131, 132, 133, 136, 137, 139, 141, 142, 145, 149, 152, 153, 155, 156, 157, 160, 162, 164, 166, 170, 171, 172, 175, 177, 179, 180, 181, 182, 183, 188, 189, 191, 194, 195, 198, 200, 201, 205, ...]}

In [13]:
for names, groups in grouped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height      Weight        Age        Income
2    Female            Rich  185.385028  103.898766   8.140874  19429.702651
3    Female            Rich  149.525801   80.887183  32.035615  16517.832869
5    Female            Rich  162.695014  100.204533  38.062671  17746.413812
6    Female    Middle Class  151.711038   70.346840  32.594538  20012.096635
7    Female            Rich  146.813913   98.614505   6.885392  17913.183431
..      ...             ...         ...         ...        ...           ...
486  Female            Poor  148.892978   47.314308  32.192263  18939.588347
487  Female            Poor  164.848955  133.474445   7.746740  16224.323916
492  Female    Middle Class  172.396072   61.681724  33.989725  15583.718261
498  Female    Middle Class  190.578221   90.037021  47.134214  19687.097480
499  Female            Rich  231.389055   89.323090  29.599171  20478.822467

[255 rows x 6 columns]
Male
    Gender Economic Status      Height      Weight        Age        Income
0     Male            Rich  130.954657   82.030005  49.172911  18306.163564
1     Male            Poor  145.821054   73.047929  44.957608  14460.294757
4     Male            Rich  174.184762   70.564623  29.118485  17498.399980
9     Male            Rich  149.772301   82.242390  19.868015  11114.863301
10    Male            Poor  167.849977   75.277011  18.855720  24014.607779
..     ...             ...         ...         ...        ...           ...
493   Male    Middle Class  161.924364  104.344113  28.909647  18333.715932
494   Male    Middle Class  183.409269   30.104556  20.727140  16139.021666
495   Male            Poor  139.026534   66.768029  35.814671  17111.413862
496   Male            Rich  140.210913   67.614083  34.418379  15977.742037
497   Male            Rich  134.706423   36.189140  33.586670  17965.319289

[245 rows x 6 columns]

In [14]:
grouped_gender.get_group('Female')

     Gender Economic Status      Height      Weight        Age        Income
2    Female            Rich  185.385028  103.898766   8.140874  19429.702651
3    Female            Rich  149.525801   80.887183  32.035615  16517.832869
5    Female            Rich  162.695014  100.204533  38.062671  17746.413812
6    Female    Middle Class  151.711038   70.346840  32.594538  20012.096635
7    Female            Rich  146.813913   98.614505   6.885392  17913.183431
..      ...             ...         ...         ...        ...           ...
486  Female            Poor  148.892978   47.314308  32.192263  18939.588347
487  Female            Poor  164.848955  133.474445   7.746740  16224.323916
492  Female    Middle Class  172.396072   61.681724  33.989725  15583.718261
498  Female    Middle Class  190.578221   90.037021  47.134214  19687.097480
499  Female            Rich  231.389055   89.323090  29.599171  20478.822467

[255 rows x 6 columns]

In [15]:
double_group = data.groupby(['Gender', 'Economic Status'])

In [16]:
len(double_group)

6

In [17]:
for names, groups in double_group:
    print(names)
    print(groups)

('Female', 'Middle Class')
     Gender Economic Status      Height     Weight        Age        Income
6    Female    Middle Class  151.711038  70.346840  32.594538  20012.096635
18   Female    Middle Class  124.536247  55.387593  33.998416  19535.534996
22   Female    Middle Class  108.975275  70.307017  29.424043  19693.144153
29   Female    Middle Class  157.410065  68.731084  32.950370  18232.920679
32   Female    Middle Class  125.134652  47.691704  24.889726  21339.468728
..      ...             ...         ...        ...        ...           ...
466  Female    Middle Class  167.794169  50.747344  16.814686  20708.134909
473  Female    Middle Class  139.593675  95.016026  46.544848  17164.348339
481  Female    Middle Class  130.060262  71.667127  21.186120  13363.184262
492  Female    Middle Class  172.396072  61.681724  33.989725  15583.718261
498  Female    Middle Class  190.578221  90.037021  47.134214  19687.097480

[88 rows x 6 columns]
('Female', 'Poor')
     Gender Economic Status      Height      Weight        Age        Income
15   Female            Poor  153.243257   12.185789  46.913776  13928.589350
17   Female            Poor  188.636883   64.298250  30.827312  17166.596566
19   Female            Poor  159.311113   50.236585  40.089780  24564.236398
20   Female            Poor  134.414378   42.149833  41.131229  21150.236347
30   Female            Poor  142.114098   70.324443  47.303101  15899.966065
..      ...             ...         ...         ...        ...           ...
475  Female            Poor   94.042857   73.213551  25.348393  15662.938478
476  Female            Poor  186.640476   61.506841  40.080514  18549.384616
482  Female            Poor  174.410703   74.955051   9.681388  12793.652616
486  Female            Poor  148.892978   47.314308  32.192263  18939.588347
487  Female            Poor  164.848955  133.474445   7.746740  16224.323916

[92 rows x 6 columns]
('Female', 'Rich')
     Gender Economic Status      Height      Weight        Age        Income
2    Female            Rich  185.385028  103.898766   8.140874  19429.702651
3    Female            Rich  149.525801   80.887183  32.035615  16517.832869
5    Female            Rich  162.695014  100.204533  38.062671  17746.413812
7    Female            Rich  146.813913   98.614505   6.885392  17913.183431
8    Female            Rich  155.965439   64.542357  29.709341  20000.475626
..      ...             ...         ...         ...        ...           ...
459  Female            Rich  178.463968   94.320541  52.480796  17662.970359
472  Female            Rich  163.245132   23.962445  28.658725  16439.441671
484  Female            Rich  165.036788   45.540966  34.259610  22123.105576
485  Female            Rich  161.132692   39.543133  33.777488   7504.964274
499  Female            Rich  231.389055   89.323090  29.599171  20478.822467

[75 rows x 6 columns]
('Male', 'Middle Class')
    Gender Economic Status      Height      Weight        Age        Income
23    Male    Middle Class  181.101473   43.886696  29.302714  21708.437174
24    Male    Middle Class  156.364821  133.637426  16.756479  17353.760865
34    Male    Middle Class  186.820941   44.819195  36.359489  12327.201388
45    Male    Middle Class  215.036787   90.803477  30.686701  15256.684418
47    Male    Middle Class  194.758540   47.267957  38.863003  16614.705338
..     ...             ...         ...         ...        ...           ...
478   Male    Middle Class  119.789418   58.841856  36.654241  18694.846780
488   Male    Middle Class  169.104454   56.500562  31.206797  20190.550935
491   Male    Middle Class  130.913941   56.524011  28.509451  24176.799958
493   Male    Middle Class  161.924364  104.344113  28.909647  18333.715932
494   Male    Middle Class  183.409269   30.104556  20.727140  16139.021666

[77 rows x 6 columns]
('Male', 'Poor')
    Gender Economic Status      Height     Weight        Age        Income
1     Male            Poor  145.821054  73.047929  44.957608  14460.294757
10    Male            Poor  167.849977  75.277011  18.855720  24014.607779
14    Male            Poor  211.740613  63.964009   5.560474  12004.998825
21    Male            Poor  124.155839  75.890590  29.612586  14219.752472
26    Male            Poor  153.140569  65.807572  14.244906  18534.920091
..     ...             ...         ...        ...        ...           ...
467   Male            Poor  126.043343  26.173334  27.144749  15649.956739
468   Male            Poor  144.408867  86.424123  27.017709  19514.990641
474   Male            Poor  148.323989  57.534385  31.050179  20665.684042
479   Male            Poor  188.150024  74.715370  20.517976  19235.904888
495   Male            Poor  139.026534  66.768029  35.814671  17111.413862

[84 rows x 6 columns]
('Male', 'Rich')
    Gender Economic Status      Height     Weight        Age        Income
0     Male            Rich  130.954657  82.030005  49.172911  18306.163564
4     Male            Rich  174.184762  70.564623  29.118485  17498.399980
9     Male            Rich  149.772301  82.242390  19.868015  11114.863301
13    Male            Rich  151.001489  76.355116  32.249535  19480.276921
16    Male            Rich   98.982071  44.132609  28.952950  15510.679436
..     ...             ...         ...        ...        ...           ...
483   Male            Rich  221.889943  96.334417  42.392026  25919.600267
489   Male            Rich  163.233020  79.732240  18.227568  20670.340535
490   Male            Rich  174.959852  52.498154  49.454102  15471.153610
496   Male            Rich  140.210913  67.614083  34.418379  15977.742037
497   Male            Rich  134.706423  36.189140  33.586670  17965.319289

[84 rows x 6 columns]

## Operaciones sobre datos agrupados

In [18]:
double_group.sum()

                              Height       Weight          Age        Income
Gender Economic Status
Female Middle Class     14200.071588  5347.548240  2717.971635  1.616521e+06
       Poor             14200.075866  5838.616937  2773.543523  1.624692e+06
       Rich             12266.276964  5027.148785  2137.637154  1.355101e+06
Male   Middle Class     12499.672424  4579.148395  2304.686679  1.373526e+06
       Poor             13254.955458  5442.994647  2135.848708  1.470554e+06
       Rich             13914.435831  5603.073464  2649.880672  1.483203e+06

In [19]:
double_group.mean()

                            Height     Weight        Age        Income
Gender Economic Status
Female Middle Class     161.364450  60.767594  30.886041  18369.552063
       Poor             154.348651  63.463228  30.147212  17659.697935
       Rich             163.550360  67.028650  28.501829  18068.007495
Male   Middle Class     162.333408  59.469460  29.930996  17838.000929
       Poor             157.797089  64.797555  25.426770  17506.594995
       Rich             165.648046  66.703256  31.546198  17657.176590

In [20]:
double_group.size()

Gender  Economic Status
Female  Middle Class       88
        Poor               92
        Rich               75
Male    Middle Class       77
        Poor               84
        Rich               84
dtype: int64

In [21]:
double_group.describe()

                       Height                                                \
                        count        mean        std        min         25%
Gender Economic Status
Female Middle Class      88.0  161.364450  30.837037  92.192811  140.530968
       Poor              92.0  154.348651  29.909480  84.652246  136.380069
       Rich              75.0  163.550360  30.924494  92.527506  140.351125
Male   Middle Class      77.0  162.333408  26.167534  93.539171  147.704704
       Poor              84.0  157.797089  31.358268  83.964835  141.588479
       Rich              84.0  165.648046  26.562274  96.730336  150.215055

                                                           Weight             \
                               50%         75%         max  count       mean
Gender Economic Status
Female Middle Class     162.329762  184.081648  233.999908   88.0  60.767594
       Poor             152.668894  175.644397  242.879056   92.0  63.463228
       Rich             161.959453  182.994308  231.389055   75.0  67.028650
Male   Middle Class     161.920608  175.319465  235.930144   77.0  59.469460
       Poor             152.940937  178.809654  244.892262   84.0  64.797555
       Rich             168.438081  181.116272  222.732400   84.0  66.703256

                        ...        Age            Income                \
                        ...        75%        max  count          mean
Gender Economic Status  ...
Female Middle Class     ...  37.480177  59.573353   88.0  18369.552063
       Poor             ...  38.732503  60.167077   92.0  17659.697935
       Rich             ...  36.375131  52.480796   75.0  18068.007495
Male   Middle Class     ...  36.815335  63.975439   77.0  17838.000929
       Poor             ...  33.355138  57.459567   84.0  17506.594995
       Rich             ...  39.116192  62.629338   84.0  17657.176590

                                                                               \
                                std           min           25%           50%
Gender Economic Status
Female Middle Class     3445.242572   6011.226314  16792.512631  19034.182543
       Poor             3263.481930  11137.419719  15519.226852  17612.049754
       Rich             3681.404397   7504.964274  16404.888618  18188.122283
Male   Middle Class     3935.538895  10153.342102  15256.684418  17513.708706
       Poor             3483.784216  10348.719113  14418.924974  17604.802426
       Rich             3886.378521   9547.624771  15227.551043  17562.535293


                                 75%           max
Gender Economic Status
Female Middle Class     20348.135852  25668.278753
       Poor             20060.233713  24968.796301
       Rich             20335.008946  28339.260058
Male   Middle Class     19857.565472  28595.852361
       Poor             19814.764116  25747.798152
       Rich             19590.279469  27422.853583

[6 rows x 32 columns]

In [22]:
grouped_income = double_group['Income']

In [23]:
grouped_income.describe()

                        count          mean          std           min  \
Gender Economic Status
Female Middle Class      88.0  18369.552063  3445.242572   6011.226314
       Poor              92.0  17659.697935  3263.481930  11137.419719
       Rich              75.0  18068.007495  3681.404397   7504.964274
Male   Middle Class      77.0  17838.000929  3935.538895  10153.342102
       Poor              84.0  17506.594995  3483.784216  10348.719113
       Rich              84.0  17657.176590  3886.378521   9547.624771

                                 25%           50%           75%           max
Gender Economic Status
Female Middle Class     16792.512631  19034.182543  20348.135852  25668.278753
       Poor             15519.226852  17612.049754  20060.233713  24968.796301
       Rich             16404.888618  18188.122283  20335.008946  28339.260058
Male   Middle Class     15256.684418  17513.708706  19857.565472  28595.852361
       Poor             14418.924974  17604.802426  19814.764116  25747.798152
       Rich             15227.551043  17562.535293  19590.279469  27422.853583

In [25]:
double_group.aggregate(
    {
        'Income': np.sum,
        'Age': np.mean,
        'Height': np.std
    }
)

                              Income        Age     Height
Gender Economic Status
Female Middle Class     1.616521e+06  30.886041  30.837037
       Poor             1.624692e+06  30.147212  29.909480
       Rich             1.355101e+06  28.501829  30.924494
Male   Middle Class     1.373526e+06  29.930996  26.167534
       Poor             1.470554e+06  25.426770  31.358268
       Rich             1.483203e+06  31.546198  26.562274

In [26]:
double_group.aggregate(
    {
        'Age': np.mean,
        'Height': lambda h: np.mean(h)/np.std(h)
    }
)

                              Age    Height
Gender Economic Status
Female Middle Class     30.886041  5.262801
       Poor             30.147212  5.188803
       Rich             28.501829  5.324314
Male   Middle Class     29.930996  6.244299
       Poor             25.426770  5.062296
       Rich             31.546198  6.273670

In [28]:
double_group.aggregate([np.sum, np.mean, np.std])

                              Height                              Weight  \
                                 sum        mean        std          sum
Gender Economic Status
Female Middle Class     14200.071588  161.364450  30.837037  5347.548240
       Poor             14200.075866  154.348651  29.909480  5838.616937
       Rich             12266.276964  163.550360  30.924494  5027.148785
Male   Middle Class     12499.672424  162.333408  26.167534  4579.148395
       Poor             13254.955458  157.797089  31.358268  5442.994647
       Rich             13914.435831  165.648046  26.562274  5603.073464

                                                      Age             \
                             mean        std          sum       mean
Gender Economic Status
Female Middle Class     60.767594  23.504796  2717.971635  30.886041
       Poor             63.463228  27.582888  2773.543523  30.147212
       Rich             67.028650  25.679995  2137.637154  28.501829
Male   Middle Class     59.469460  22.981385  2304.686679  29.930996
       Poor             64.797555  23.689916  2135.848708  25.426770
       Rich             66.703256  24.284562  2649.880672  31.546198

                                         Income
                              std           sum          mean          std
Gender Economic Status
Female Middle Class     12.259094  1.616521e+06  18369.552063  3445.242572
       Poor             10.989276  1.624692e+06  17659.697935  3263.481930
       Rich             10.665142  1.355101e+06  18068.007495  3681.404397
Male   Middle Class     12.100023  1.373526e+06  17838.000929  3935.538895
       Poor             11.569469  1.470554e+06  17506.594995  3483.784216
       Rich             11.984563  1.483203e+06  17657.176590  3886.378521

In [29]:
double_group.aggregate([lambda x: np.mean(x)/np.std(x)])

                          Height    Weight       Age    Income
                        <lambda>  <lambda>  <lambda>  <lambda>
Gender Economic Status
Female Middle Class     5.262801  2.600143  2.533877  5.362416
       Poor             5.188803  2.313426  2.758362  5.440957
       Rich             5.324314  2.627727  2.690425  4.940962
Male   Middle Class     6.244299  2.604692  2.489852  4.562265
       Poor             5.062296  2.751666  2.210947  5.055348
       Rich             6.273670  2.763232  2.648045  4.570637